/*=========== GOOGLE FONTS ===========*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*===========VARIABLE CSS ===========*/
:root{
    --header-height:3rem;
    

     /*=========== COLORS ===========*/
     --first-color:#117554;
     --first-color-alt:#72BF78;
     --title-color: #393939;
     --text-color: #707070;
     --text-color-light: #a6a6a6;
     --body-color: #fbfefd;
     --container-color: #fff;


     
     /*=========== Font and typhography ===========*/
     --body-font: 'Poppins', sans-serif;
     --biggest-font-size: 2,25rem;
     --h1-font-size: 1.5rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1rem;
     --normal-font-size: .938rem;
     --smaller-font-size: .75rem;
     --smallest-font-size: .55rem;
     

     /*=========== Font Weight ===========*/
     --front-medium: 500;
     --font-semi-bold: 600;

    /*=========== Margenes ===========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;


    /*=========== z index ===========*/
    --Z-tolltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
     --biggest-font-size: 4rem;
     --h1-font-size: 2.25rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1.25rem;
     --normal-font-size: 1rem;
     --small-font-size: .875rem;
     --smaller-font-size: .813rem;
   

    }
}

   /*=========== base ===========*/
   *,::before, ::after{
      box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}




      /*=========== variable dark theme ===========*/
      body.dark-theme{
         --title-color: #f1f3f3;
         --text-color: #c7d1cc;
         --body-color: #222222;
         --container-color: #444444;
      }

         /*=========== button dark/light ===========*/
         .change-theme{
            position: absolute;
            right: 1.5rem;
            top: 2.2rem;
            display:flex;
            color: var(--text-color);
            font-size: 1.6rem;
            cursor: pointer;
         }

         body{
            margin: var(--header-height)0 0 0;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: var(--body-color);
            color: var(--text-color);
            line-height: 1.6;
         }

         h1,h2,h3, p, ul{
            Margin:0;
         }
         ul{
           padding: 0;
           list-style: none;

         }

         a{
            text-decoration: none;
         }

         img{
            max-width: 100%;
            height: auto;
         }

            /*=========== class css ===========*/
            .section{
               padding: 4rem 0 2rem;
            }

            .section-title, .section-subtitle{
               text-align: center;
            }

            .section-title{
               font-size: var(--h1-font-size);
               color: var(--title-color);
               margin-bottom: var(--mb-3);
            }

            .section-subtitle{
               display: block;
               color: var(--first-color);
               font-weight: var(--front-medium);
               margin-bottom: var(--mb-1);
            }

            /*=========== layout ===========*/
            .bd-container{
               max-width: 960px;
               width: calc(100% - 2rem);
               margin-left: var(--mb-2);
               margin-right: var(--mb-2);

            }

            .bd-grid{
               display: grid;
               gap: 1.5rem;
            }

            .l-header{
               width: 100%;
               position: fixed;
               top: 0;
               left: 0;
               z-index: var(--z-fixed);
               background-color: var(--body-color);

            }

            /*=========== nav ===========*/
            .nav{
               max-width: 1024px;
               height: var(--header-height);
               display: flex;
               justify-content: space-between;
               align-items: center;
            }

            @media screen and (max-width: 768px){
               .nav_menu{
                  position: fixed;
                  top: -100%;
                  left: 0;
                  width: 100%;
                  padding: 1.5rem 0 1rem;
                  text-align: center;
                  background-color: var(--body-color);
                  transition: .4s;
                  box-shadow: 0 4px 4px rgba(0,0,0,.1);
                  border-radius: 0 0 1rem 1rem;
                  z-index: var(--z-fixed);


               }

            }

            .nav_item{
               margin-bottom: var(--mb-2);
            }

            .nav_link, .nav_logo, .nav_toggle, .nav_shop{
            color: var(--text-color);
            font-weight: var(--front-medium);
            }

            .nav_logo:hover{
               color: var(--first-color);
            }

            .nav_link{
               transition: .3s;  
            }
            .nav_link:hover{
               color: var(--first-color);
            }
            .nav_toggle, .nav_shop{
               font-size: 1.3rem;
               cursor: pointer;
            }

/*show menu*/
.show-menu{
   top: var(--header-height);

}



      /*activity menu*/
      .active-link{
         color: var(--first-color);
      }

      /*change background header*/
      .scrollHeader{
         box-shadow: 0 2px 4px rgba(0,0,0,.1);
      }

      /*scroll top*/
      .scrolltop{
        position: fixed;
        right: 1rem;
        bottom: -20%;
        display: flex;
        justify-content: center;
        padding: .3rem;
        background: var(--first-color);
        border-radius: .4rem;
        z-index: var(--Z-tolltip);
        transition: .4s;
        visibility: hidden;
      }

      .scrolltop:hover{
         background-color: var(--first-color-alt);
      }

      .scrolltop_icon{
         font-size: 1.8rem;
         color: var(--body-color);
      }
         

      /*show scroll top*/
      .show-scroll{
         visibility: visible;
         bottom: 1.5rem;
      }

      /*=========== home ===========*/
      .home_container{
         height: calc(100vh - var(--header-height));
         align-content: center;
      }
      .home_title{
         font-size: var(--biggest-font-size);
         color: var(--first-color);
         margin-bottom: var(--mb-1);
      }

      .home_subtitle{
         font-size: var(--h2-font-size);
         color: var(--title-color);
         margin-bottom: var(--mb-4)

      }

      .home_img{
         width: 500px;
         justify-self: center;
      }
      /*=========== button ===========*/
      .button{
         display: inline-block;
         background-color: var(--first-color);
         color: #fff;
         padding: .75rem 1rem;
         border-radius: .5rem;
         transition: .3s;
      }

      .button:hover{
         background-color: var(--first-color-alt);
      }


      /*=========== slide show ===========*/
      *{box-sizing: border-box;}

      /*slideshow container*/
      .slideshow-container{
         max-width: 1000px;
         height: auto;
         position: relative;
         margin: auto;
      }

      /*--hide the image by : default--*/

      .mySlides{
         display: none;
      }

      /*Next & Previous button*/

      .prev, .next{
         cursor: pointer;
         position: absolute;
         top: 75%;
         width: auto;
         margin-top: -22px;
         padding: 16px;
         color: var(--first-color);
         font-weight: bold;
         font-size: 13px;
         transition: 0.6s ease;
         border-radius: 0 3px 3px 0;
         user-select: none;

      }
      
      /*Position the next button to the right*/
      .next{
         right: 0;
         border-radius:  3px 0 0 3px;

      }

      /*on hover, add a black baground color with a little bit see-through*/
        .prev:hover, .next:hover{
         background-color: var(--first-color);
         color: #fff;
        }

      /*number text (1/3 atc) */
      .numbertext{
         color: #f2f2f2;
         font-size: 12px;
         padding: 8px 12px;
         position: absolute;
         top: 0;

      } 

        /*the dots/bullets/indikator*/
        .dots{
         cursor: pointer;
         height: 8px;
         width: 8px;
         margin: 0 2px ;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
         transition: backrground-colour 0.6s ease;
        }
      
.active, .dots:hover{
   background-color: #717171;

}



/*fadding animation*/
.fade{
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;

}

@-webkit-keyframes fade{
   from {opacity: .4}
   to{opacity: 1;}
}

@keyframes fade{
   from{opacity: .4}
   to{opacity: 1;}
}

      /*=========== about ===========*/

.about_data{
   text-align: center;
}      

.about_description{
   margin-bottom: var(--mb-3);
}

.about_img{
   width: 280px;
   border-radius: .5rem;
   justify-self: center;
}


/*=========== detail ===========*/



/*=========== service ===========*/
.services_container{
   row-gap: 2.5rem;
   grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
}

.services_content{
   text-align: center;

}

.services_img{
   width: 170px;
   border-radius: .5rem;
   margin-bottom: var(--mb-2);
}

.services_title{
   font-size: var(--h3-font-size);
   color: var(--title-color);
   margin-bottom: var(--mb-1);
}

.services_description{
   padding: 0 1.5rem;
}


/*=========== product ===========*/

.products_container{
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   
}

.products_content{
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: var(--container-color);
   border-radius: .5rem;
   box-shadow: 0 2px 4px rgb(3,74,40,.15);
   padding: .75rem .75rem 3rem .75rem;
}

.products_content:hover{
   background-color: rgba(201, 196, 196,.3);
   transition: .3s;
}

.products_img{
   width: 200px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   align-self: center;
   margin-bottom: var(--mb-2);
   filter: drop-shadow(0 5px 2px rgba(80,79,79, .2));
}

.products_name, .products_price{
   font-weight: var(--font-semi-bold);
   color: var(--title-color)

}

.products_name{
   font-size: var(--normal-font-size);
}

.products_detail, .products_price{
   font-size: var(--small-font-size);
}

.products_price{
   margin-bottom: var(--mb-4);
}

.products_detail{
   margin-bottom: var(--mb-1);
}

.products_button{
   position: absolute;
   bottom: 0;
   right: 0;
   display: flex;
   padding: .625rem .813rem;
   border-radius: .5rem 0 .5rem 0;
}

.products_button_detail{
   font-size: var(--smallest-font-size);
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   padding: .625rem .813rem;
   border-radius: 0 .5rem 0 .5rem;


}


/*=========== size chart ===========*/
.slick_two{
   width: 90%;
   margin: auto;
}
 

/*=========== ingredient description ===========*/
.size_data{
   width: 90%;
   margin: auto;

}

.size_description{
   margin-bottom: var(--mb-5);
}

.size_img{
   width: 230px;
   justify-self: center;
}


/*=========== contact ===========*/
.contact_container{
   text-align: center;

}

.contact_description{
   margin-bottom: var(--mb-3);
}


/*=========== footer ===========*/
.footer_container{
   grid-template-columns:  repeat(auto-fit, minmax(220px, 1fr));
   row-gap: 2rem;
}

.footer_logo{
   font-size: var(--h3-font-size);
   color: var(--first-color);
   font-weight: var(--font-semi-bold);
}

.footer_description{
   display: block;
   font-size: var(--small-font-size);
   margin: .25rem 0 var(--mb-3);
}

.footer_social{
   font-size: 1.5rem;
   color: var(--title-color);
   margin-right: var(--mb-2);
}

.footer_title{
   font-size: var(--h2-font-size);
   color: var(--title-color);
   margin-bottom: var(--mb-2);
}

.footer_link{
   display: inline-block;
   color: var(--text-color);
   margin-bottom: var(--mb-1);
}

.footer_link:hover{
   color: var(--first-color);
}

.footer_copy{
   text-align: center;
   font-size: var(--small-font-size);
   color: var(--text-color-light);
   margin-top: 3.5rem;
}


/*=========== nav shop ===========*/

.nav_shop{
   position: relative;
   display: inline-block;

}

/*notifikasi keranang*/

.nav_shop a span{
   position: absolute;
   right: -8px;
   top: -1px;
   height: 17px;
   width: 17px;
   background: var(--first-color);
   color: var(--body-color);
   border-radius: 50%;
   font-size: 8px;
   font-weight: 700;
   text-align: center;
   line-height: 13px;
   border: 2px solid var(--body-color);
}

.nav_icon {
   color: var(--first-color)
}

.nav_icon:hover{
   color: var(--title-color);
}

/*Dropdown Content*/

.nav_shop-content {
   display: none;
   position: absolute;
   right: 0;
   min-width: 100px;
   background: var(--container-color);
   box-shadow: 1px 2px 3px 0px rgba(0,0,0,.1);
   border-radius: 6px;
   z-index: var(--z-fixed);
   float: right;
   padding: 20px;
}

.title_shop{
   border-bottom: 1px solid rgba(201, 196, 196,.3);
   padding-bottom: 35px;
}

.title_shop span{
   float: left;
   color: var(--text-color);
   font-size: var(--smallest-font-size);
   font-weight: var(--font-medium);
}

.item{
   padding: 15px 0 15px 0;
   display: flex;
   border-bottom: 1px solid rgba(201, 196, 196, 0.3);
}

.image_medicine{
   width: 50px;
   height: 50px;
   border-radius: 6px;

   position: relative;
   padding: 4% .4% 4% .4%;
   background-color: rgba(201, 196, 196, 0.3);
   border-radius: .2rem; 
   overflow: hidden;
   display: flex;
   justify-content: center;

}

.image_m{
   width: 40px;
}

.description{
   padding-top: 10px;
   margin-left: 20px;
   margin-right: 20px; 
   width: 56px;
}

.description span{
   display: block;
   font-size: var(--smallest-font-size);
   color: var(--title-color);
   font-weight: var(--font-semi-bold);
}

.description span:first-child{
   margin-bottom: 5px;
}

.description span:last-child{
   font-weight: var(--font-medium);
   margin-top: 0.3px;
   color: var(--text-color);
}

.total-price{
   width: 110px;
   padding: 15px;
   text-align: center;
   font-size: var(--smallest-font-size);
   color: var(--title-color);
   font-weight: var(--font-semi-bold);
}

.delete-item{
   padding: 15px 0 15px 15px;
   vertical-align: baseline;
   text-align: center;
   font-size: var(--font-medium);
   color: var(--title-color);
   border-radius: .2rem;
}

.delete-item:hover{
   color: var(--first-color);
}

.total-all {
   padding: 15px 44px 35px 0;
}

.total-all span:first-child{
   float: left;
   color: var(--text-color);
   font-size: var(--smallest-font-size);
   font-weight: var(--font-medium);

}

.total-all span:last-child{
   float: right;
   color: var(--title-color);
   font-size: var(--smallest-font-size);
   font-weight: var(--font-semi-bold);
   padding-right: 12%;

}   

.button-top{
   color: var(--text-color);
   display: inline-block;
   background-color: rgba(201, 196, 196, 0.3);
   padding: .75rem 1rem;
   border-radius: .2rem;
   transition: .3s;
}

.button-top:hover{
   color: var(--body-color);
   background-color: var(--text-color-light);
}

.button-top2{
   color: #fff;
   display: inline-block;
   background-color: var(--first-color);
   padding: .75rem 1rem;
   border-radius: .2rem;
   transition: .3s;
}

.button-top2:hover{
 
   background-color: var(--first-color-alt);
}

.btn-viewcard{
   text-align: center;
   font-size: var(--smallest-font-size);

}

.btn-checkout{
   padding-top: .5rem;
   text-align: center;
   font-size: var(--smallest-font-size);
}

.nav_shop-content a{
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.nav_shop:hover .nav_shop-content {
   display: block;
}




/*=========== media queries ===========*/
@media screen and (min-width: 576px){
   .home_container,
   .about_container,
   .size_container{ 
      grid-template-columns: repeat(2,1fr);
      align-items: center;
   }
     
   .description{
      width: 100px;
      
   }

   .total-all{
      padding-right: 40px;
   }


   .prev, .next{
      top: 50%;
   }

   .home {
      margin-left: var(--mb-4);
      margin-right: var(--mb-4);
   }

   .about_data, .about_initial,
   .size_data, .size_initial,
   .contact_container, .contact_initial{
      text-align: initial;
   }

   .about_img, .size_img{
      width: 380px;
      order: -1;
   }

   .contact_container{
      grid-template-columns: 1.75fr 1fr;
      align-items: center;

   }
}
.contact_button{
   justify-self: center;

}

.title_shop span{
   font-size: var(--smaller-font-size);
}
.total-price{
   width: 110px;
   font-size: var(--smaller-font-size);
}

.description span{
   font-size: var(--smaller-font-size);
}
.description span:last-child{
   font-size: var(--smallest-font-size);
}
.description{
   width: 100px;
}
.total-all{
   padding-right: 30px;
}
.total-all span:first-child{
   font-size: var(--smaller-font-size);
   
}
.total-all span:last-child{
   font-size: var(--smaller-font-size);
}
.btn-viewcard{
   font-size: var(--smaller-font-size);
}
.btn-checkout{
   font-size: var(--smaller-font-size);
}


@media screen and (min-width: 768px){
   body{
      margin: 0;
   }

   .section{
      padding-top: 8rem;
   }

   .nav{
      height: calc(var(--header-height) + 1.5rem);
   }

   .nav_list{
      display: flex;
   
   }

   .nav_item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
   }

   .nav_toggle{
      display: none;
   }

   .change-theme{
      position: initial;
      margin-left: var(--mb-2);

   }
   .home_container{
      height: 100vh;
      justify-items: center;
   }
.services_container, .product_container{
   margin-top: var(--mb-6);
}

}
@media screen and (min-width: 960px){
   .bd-container{
      margin-left: auto;
      margin-right: auto;

   }

   .home_img{
      width: 500px,

      }

      .about_container,
      .app_container{
         column-gap: 7rem;
      }
   }
     
   


 /*for tall screen on mobile y dekstop*/

 @media screen and (min-width: 721px){
   .home_container{
      height: 640px;

   }

 }
     
   


